<div class="container my-3 wrap">
    <h1>Taller pruebas unitarias, integración y servicios REST</h1>
    <br>
    <h3>A través de esta aplicación web podrá:</h3>
    <div> 
        <li>Crear un animal</li>
        <li>Editar un animal</li>
        <li>Eliminar un animal</li>
        <li>Listar todos los animales del Zoologico</li>
    </div>
    <br>
    <h3>¿Cómo usar la aplicación?</h3>
    <br>
    <p>En la parte superior encontrara una barra de navegacion con tres items:</p>
    <div>
        <ul>
            <li>Animals:</li>
            <p>El boton 'Animals' le permitira ver la lista de los animales registrados en nuestra base de datos.</p>
            <li>Register:</li>
            <p>El boton 'Register' le permitira registrar un nuevo animal.</p>
            <li>Search:</li>
            <p>El boton 'Search' le permitira buscar y editar un animal que este registrado en la base de datos, para ello debe escribir en el campo el ID del animal.</p>
        </ul>
    </div>
    <h3>Condiciones:</h3>
    <p>La especie seleccionada para este api es el puma.</p>
    <ul>
        <li>Los nombres de los animales deben ser unicos y no pueden superar los 120 digitos de
            longitud y solo pueden contener letras y espacios.</li>
        <li>La fecha de llegada no puede ser
            posterior a la fecha actual pues solo se lleva registro de los animales que estan actualmente
            en el zoologico.</li>
        <li>El peso para un puma debe ser mayor a 1 y menor a 100:</li>
        <li>La estatura para un puma debe ser mayor a 20 y menor a 90 (medidas dadas en cm):</li>
        <li>La edad para un puma debe ser mayor a 1 y menor a 14:</li>
    </ul>
</div>
