<ul class="alert alert-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
      {{ err }}
    </li>
  </ul>
  
  <div class="card bg-dark text-white">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
  
      <form #animalForm="ngForm">
        <div class="form-group row">
          <label for="name" class="col-form-label col-sm-2">Name</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="animal.name" name="name" #name="ngModel">
            <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
              <div *ngIf="name.errors.required">
                name is required
              </div>
              <div *ngIf="name.errors.minlength">
                name must have at least 4 characters
              </div>
            </div>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="sex" class="col-form-label col-sm-2">Sex</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="animal.sex" name="sex" #sex="ngModel"> 
            <div class="alert alert-danger" *ngIf="sex.invalid && (sex.dirty || sex.touched)">
              <div *ngIf="sex.errors.required">
                sex is required
              </div>
            </div>
          </div>
        </div>
  
        <div class="form-group row">
          <label for="weight" class="col-form-label col-sm-2">Weight</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" [(ngModel)]="animal.weight" name="weight" #weight="ngModel"> 
            <div class="alert alert-danger" *ngIf="weight.invalid && (weight.dirty || weight.touched)">
              <div *ngIf="weight.errors.required">
                weight is required
              </div>
              <div *ngIf="weight.errors.weight">
                Weight must have a valid format
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="height" class="col-form-label col-sm-2">Height</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" [(ngModel)]="animal.height" name="height" #height="ngModel"> 
            <div class="alert alert-danger" *ngIf="height.invalid && (height.dirty || height.touched)">
              <div *ngIf="height.errors.required">
                height is required
              </div>
              <div *ngIf="height.errors.height">
                Height must have a valid format
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="age" class="col-form-label col-sm-2">Age</label>
          <div class="col-sm-6">
            <input type="number" class="form-control" [(ngModel)]="animal.age" name="age" #age="ngModel">
            <div class="alert alert-danger" *ngIf="age.invalid && (age.dirty || age.touched)">
              <div *ngIf="age.errors.required">
                age is required
              </div>
              <div *ngIf="age.errors.age">
                Age must have a valid format
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="date" class="col-form-label col-sm-2">Date</label>
          <div class="col-sm-6">
            <input type="datetime-local" class="form-control" [(ngModel)]="animal.date" name="date" #date="ngModel"> 
            <div class="alert alert-danger" *ngIf="date.invalid && (date.dirty || date.touched)">
              <div *ngIf="date.errors.required">
                date is required
              </div>
              <div *ngIf="date.errors.date">
                Date must have a valid format
              </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="motherId" class="col-form-label col-sm-2">Mother ID</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="animal.motherId" name="motherId" #motherId="ngModel"> <!-- required motherId -->
            <div class="alert alert-danger" *ngIf="motherId.invalid && (motherId.dirty || motherId.touched)">
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="fatherId" class="col-form-label col-sm-2">Father ID</label>
          <div class="col-sm-6">
            <input type="text" class="form-control" [(ngModel)]="animal.fatherId" name="fatherId" #fatherId="ngModel"> <!-- required fatherId -->
            <div class="alert alert-danger" *ngIf="fatherId.invalid && (fatherId.dirty || fatherId.touched)">
            </div>
          </div>
        </div>
  
        <div class="form-group row">
          <div class="col-sm-6">
            <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!animal.id else elseBlock" [disabled]="!animalForm.form.valid">Register</button>
  
            <ng-template #elseBlock>
              <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!animalForm.form.valid">Edit</button>
            </ng-template>
          </div>
        </div>
      </form>
    </div>
  </div>
  