.HomeCard{
    background: #F4F4F7;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    height: 250px;
    width: 380px;
    text-align: center;
    padding: 2rem;
}

.HomeCard>h4{
    margin-bottom: 0;
}

.child{
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
}

.CardIcon{
    height: 1.8rem;
}

.description{
    text-align: justify;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.btn{
    margin: 0;
    width: 10rem;
    font-size: medium;
    background-color: #a5b84f;
    border: 0;
}

.btn:hover{
    background-color: #909D59 ;
}

