<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Ostrich</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{/image/icon.ico}" rel="icon" type="image/icon type">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;0,800;1,400&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
</head>
<body onload="onloadCreate()">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <div class="body-wrapper">
        <section class="d-flex justify-content-center align-items-center bg">
            <div class="card menu">
                <div class="d-flex flex-column p-3">
                    <h2 class="card-title main">Create Ostrich</h2>
                    <div class="menu__container">
                        <div class="container">
                            <form method="post" th:action="@{/create}" th:object="${ostrich}" class="ostrich needs-validation" novalidate>
                                <div class="form-group p-2">
                                    <label for="name" class="label nameLabel">Name</label>
                                    <span class="errorsp" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                                    <div class="input-group">
                                        <input type="text" name="name" class="form-control name" placeholder="Write the name of the ostrich" aria-label="Username" th:field="*{name}" required/>
                                    </div>
                                    <div class="errorsp invalidName hidden"></div>
                                </div>

                                <div class="form-group p-2">
                                    <label for="gender" class="label genderLabel">Gender</label>
                                    <span class="errorsp" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
                                    <div class="input-group">
                                        <select class="form-select gender" name="gender" aria-label="Default select example" th:field="*{gender}" required>
                                            <option selected value="-1">Select ostrich gender</option>
                                            <option value="0">Female</option>
                                            <option value="1">Male</option>
                                        </select>
                                    </div>
                                    <div class="errorsp invalidGender hidden"></div>
                                </div>

                                <div class="form-group p-2">
                                    <label for="age" class="label ageLabel">Age</label>
                                    <span class="errorsp" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
                                    <div class="input-group">
                                        <input type="number" name="age" class="form-control age" placeholder="Write the age of the ostrich" aria-label="Username" th:field="*{age}" required>
                                    </div>
                                    <div class="errorsp invalidAge hidden"></div>
                                </div>

                                <div class="form-group p-2">
                                    <label for="weight" class="label weightLabelght">Weight</label>
                                    <span class="errorsp" th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}"></span>
                                    <div class="input-group">
                                        <input type="number" name="weight" class="form-control weight" placeholder="Write the weight of the ostrich" aria-label="Username" th:field="*{weight}" required>
                                    </div>
                                    <div class="errorsp invalidWeight hidden"></div>
                                </div>

                                <div class="form-group p-2">
                                    <label for="height" class="label heightLabel">Height</label>
                                    <span class="errorsp" th:if="${#fields.hasErrors('height')}" th:errors="*{height}"></span>
                                    <div class="input-group">
                                        <input type="number" name="height" class="form-control height" placeholder="Write the height of the ostrich" aria-label="Username" th:field="*{height}" required>
                                    </div>
                                    <div class="errorsp invalidHeight hidden"></div>
                                </div>

                                <div class="form-group p-2">
                                    <label for="arrivalDate" class="label arrivalDateLabel">Arrival Date</label>
                                    <span class="errorsp" th:if="${#fields.hasErrors('arrivalDate')}" th:errors="*{arrivalDate}"></span>
                                    <div class="input-group">
                                        <input type="datetime-local" step="1" name="arrivalDate" class="form-control arrivalDate" aria-label="Username" th:field="*{arrivalDate}" required>
                                    </div>
                                    <div class="errorsp invalidArrivalDate hidden"></div>
                                </div>

                                <div class="form-group p-2">
                                    <label for="fatherId" class="label fatherIdLabel">Father ID</label>
                                    <span class="errorsp" th:if="${#fields.hasErrors('fatherId')}" th:errors="*{fatherId}"></span>
                                    <div class="input-group">
                                        <input type="text" name="fatherId" class="form-control fatherId" placeholder="Write the father id of the ostrich" aria-label="Username" th:field="*{fatherId}" required/>
                                    </div>
                                    <div class="errorsp invalidFatherId hidden"></div>
                                </div>

                                <div class="form-group p-2">
                                    <label for="motherId" class="label motherIdLabel">Mother ID</label>
                                    <span class="errorsp" th:if="${#fields.hasErrors('motherId')}" th:errors="*{motherId}"></span>
                                    <div class="input-group">
                                        <input type="text" name="motherId" class="form-control motherId" placeholder="Write the mother id of the ostrich" aria-label="Username" th:field="*{motherId}" required/>
                                    </div>
                                    <div class="errorsp invalidMotherId hidden"></div>
                                </div>
                                <br/>
                                <div class="d-grid gap-2">
							        <span class="d-grid gap-2 toolTipSubmit" tabindex="0" data-bs-toggle="tooltip" title="The button will be activated when the form is filled out correctly.">
								        <button type="submit" class="btn btn-primary btn-block create" disabled>CREATE OSTRICH</button>
							        </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript" th:src="@{/js/alert.js}"></script>
    <script type="text/javascript" th:src="@{/js/error.js}"></script>
    <script type="text/javascript" th:src="@{/js/create.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script>
        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        const tooltipList = tooltipTriggerList.map(
            function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            }
        )
    </script>
    <span th:if="${icon != null and title != null and text != null}">
            <script th:inline="javascript">customAlert(/*[[${icon}]]*/null, /*[[${title}]]*/null, /*[[${text}]]*/null, '#')</script>
    </span>
</body>
</html>